# Files
dev_splits_complete/
output_repeated_splits_test/
train_splits/
MELD_Data/
MELD.Raw/
pt2/
PPT/
Experiments/
Pretrained/
__pycache__/
.vscode/
c4293bde-49ad-45e1-b761-5e0af72284b6_Export-0dba614f-b7f3-4181-8845-32653c2646f5/
8773480e-4b90-454e-9436-4aeb75d7c645_Export-c0a1e6a8-5d68-4988-bcdb-87e05f7ee41b/

*.txt
*.tar.gz
*.ipynb
*.csv


announcement.txt